:root {
  --dark-bg: #1f2937;
  --dark-fg-text: #ffffff;
  --dark-fg-g-text: #55f991;
  --dark-fg-sub-text: #d5d4d8;
  --dark-fg-btn: #10b981;
}

@font-face {
  font-family: DepartureMono;
  src: url(/DepartureMono-Regular.otf);
}

body {
  width: 100vw;
  height: 100vh;
  background-color: var(--dark-bg);
  display: flex;
  justify-content: center;
  align-items: center;
}

#app {
  font-family: DepartureMono;
  width: 100%;
  max-width: 650px;
  min-width: 360px;
  height: 650px;
  margin: auto;
  padding: 20px;
}

#hero {
  margin-bottom: 30px;
}
.hero-header {
  color: var(--dark-fg-text);
}
.green-header {
  color: var(--dark-fg-g-text);
}

#hero-subtext {
  color: var(--dark-fg-sub-text);
}

#gen-btn {
  background-color: var(--dark-fg-btn);
  color: white;
  border: 0px;
  border-radius: 5px;
  padding: 10px 15px;
  margin-bottom: 30px;
}

/* Solid border */
hr.solid {
  border-top: 2px solid #2f3e53;
  margin-bottom: 30px;
}

.output {
  color: var(--dark-fg-g-text);
  background-color: #273549;
  width: 220px;
  text-align: center;
  padding: 9px 0;
  border-radius: 5px;
}
