:root {
    --dark-bg: #1f2937;
    --dark-fg-text: #ffffff;
    --dark-fg-g-text: #55f991;
    --dark-fg-sub-text: #d5d4d8;
    --dark-fg-btn: #10b981;
}

@font-face {
    font-family: DepartureMono;
    src: url(/DepartureMono-Regular.otf);
}

body {
    width: 100vw;
    height: 100vh;
    background-color: var(--dark-bg);
    display: flex;
    justify-content: center;
    align-items: center;
}

#app {
    font-family: DepartureMono;
    width: 100%;
    max-width: 650px;
    min-width: 360px;
    height: 650px;
    margin: auto;
    padding: 20px;
}

#hero {
    margin-bottom: 30px;
}
.hero-header {
    color: var(--dark-fg-text);
}
.green-header {
    color: var(--dark-fg-g-text);
}

.hero-subtext {
    color: var(--dark-fg-sub-text);
}

#gen-btn {
    background-color: var(--dark-fg-btn);
    color: white;
    border: 0px;
    border-radius: 5px;
    padding: 10px 15px;
    margin-bottom: 30px;
}

/* Solid border */
hr.solid {
    border-top: 2px solid #2f3e53;
    margin-bottom: 30px;
}

.output {
    color: var(--dark-fg-g-text);
    background-color: #273549;
    text-align: center;
    padding: 9px 0;
    border-radius: 5px;
}

/* Button CSS */
#gen-btn {
    position: relative;
    border: none;
    background: transparent;
    padding: 0;
    margin-bottom: 20px;
    cursor: pointer;
    outline-offset: 4px;
    transition: filter 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.gen-btn-shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background: hsl(0deg 0% 0% / 0.25);
    will-change: transform;
    transform: translateY(2px);
    transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

.gen-btn-edge {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background: linear-gradient(
        to left,
        hsl(160deg 84% 39%) 0%,
        hsl(160deg 84% 29%) 8%,
        hsl(160deg 84% 29%) 92%,
        hsl(160deg 84% 39%) 100%
    );
}

.gen-btn-front {
    display: block;
    position: relative;
    padding: 8px 10px;
    border-radius: 5px;
    color: white;
    background: hsl(160deg 84% 39%);
    will-change: transform;
    transform: translateY(-4px);
    transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

@media (min-width: 768px) {
    .gen-btn-front {
        font-size: 1.25rem;
        padding: 12px 42px;
    }
}
#gen-btn:hover {
    filter: brightness(110%);
    -webkit-filter: brightness(110%);
}
#gen-btn:hover .gen-btn-front {
    transform: translateY(-6px);
    transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}
#gen-btn:active .gen-btn-front {
    transform: translateY(-2px);
    transition: transform 34ms;
}
#gen-btn:hover .gen-btn-shadow {
    transform: translateY(4px);
    transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}
#gen-btn:active .gen-btn-shadow {
    transform: translateY(1px);
    transition: transform 34ms;
}
#gen-btn:focus:not(:focus-visible) {
    outline: none;
}
